.main-container {
    height: 100vh;
    background-image: url("../../assets/imgs/front/home-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    .main-wrapper {

        .lands-wrapper {
            position: absolute;            
            width: 240px;
            top: 100px;
            height: calc(100vh - 100px);
            background-color: #00000080;

            .MuiButtonBase-root {
                display: flex;
                flex-direction: row;
                color: #ffe67f;
                font-weight: 700;
                justify-content: left;

                &:focus {
                    outline: none;
                }

                .land-image {
                    width: 64px;
                    margin-right: 15px;
                    border-radius: 100%;
                    border: 1px solid #ffe67f;
                }

                .MuiTouchRipple-root {
                    border-bottom: 1px solid #ffe67fa0;
                }
            }

            .MuiTabScrollButton-vertical {
                border: none;
                background-color: #000000;
                justify-content: center;
            }

            .MuiTabs-indicator {
                width: 7px;
                background-color: #ffe67f;
            }
        }
    }
}